.container{
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    margin-right: 1rem;
    margin-bottom: 1rem;
    .inner{
        display: flex;
        align-items: center;
        gap:2rem;
        // padding: 1.2rem 2rem;
        padding: 1rem 1.5rem;
        .iconContainer{
            display: flex;
            align-items: center; //new added from gpt
            svg{
                width: 35px;
                height: 35px;
            }
        }
        .info{
            color: whitesmoke;
            display: flex; //gpt new
            flex-direction: column; //gpt new 
            .title{
                font-size: 1.2rem;
                line-height: 1.5; //gpt new
                margin-bottom: 0.5rem; //gpt new
            }
            .money{
                // font-size: 0.3rem; //old
                font-size: 0.9rem; //change
                line-height: 1.2; //gpt new 
            }
        }
    }
}